.tools{
  margin-top: 70px;
}
.inline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;  

}
.menu2{
  background: #04CF72;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.section1 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 3%;
}

.icons {
    font-size: 29px;
    display: flex;
    justify-content: space-between;
}

.icons .create {
    color: rgb(10, 112, 180);
}

.icons .delete {
    color: red;
}

//  IONC CARD DES FERMES
.card ion-card img {
    text-align: center;
    width: 60%;
}

// ========================================
.titreProduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
}

.titreProduction .nomTitre {
    font-weight: 900;
    text-decoration: underline;
}

.titreProduction .status .p1 {
    // background-color: rgb(221, 212, 212);
    background-color: #04CF72;
    color: white;
    padding: 4px;
    border-radius: 10px;
}
.titreProduction .status .p2 {
  background-color: rgb(221, 212, 212);
  // background-color: #04CF72;
  color: white;
  padding: 4px;
  border-radius: 10px;
}
.titreProduction .status .p3 {
  // background-color: rgb(221, 212, 212);
  background-color: red;
  color: white;
  padding: 4px;
  border-radius: 10px;
}

.description .inline,.inline {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    font-size: 120%;
    gap: 5%;

}
.inline2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    font-size: 120%;
    gap: 2%;

}

.contenu {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: center !important;
}

.contenu .timer p {
    align-items: center;
}
.monp{
    display: inline-block;
}
.contenu ion-icon {
    font-size: 20px;
}

.productions ion-title {
    margin: 2%;
}

// ======================================== LES PRODUITS =================================
.containerFerme{
  // display: flex;
  // flex-direction: row;
  display: grid;
  grid-template-columns:auto auto;
}
.ferme1{
    text-align: center;
}

.ferme1 .cardeH img{
  width: 100%;
  height: 100%;
}
.ferme1 ion-card-title{
    font-weight: bold;
    font-size: 12px;
}

.ferme1 ion-button{
    font-size: 10px;
//    height: 25px;
padding: 5%;
}
.iconsProduits {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
}

.iconsProduits .create {
    color: rgb(10, 112, 180);
    cursor: pointer;
}

.iconsProduits .delete {
    color: red;cursor: pointer;
}
ion-segment-button {
    background-color: #04CF72;
    width: 100%;
    margin: 5px auto;
  }
  ion-segment ion-label{
   color: white;
  }

  .essai{
    background: red;
  }

ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
  }
  
  .custom-alert .alert-button-group {
    padding: 8px;
  }
  
  button.alert-button.alert-button-confirm {
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
  }
  
  .md button.alert-button.alert-button-confirm {
    border-radius: 4px;
  }
  
  .ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2)
  }
  
  .ios button.alert-button.alert-button-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }
  
  .ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }

  .mesproduits{
    height: 469px;
    display: grid;
  }

  // =============================================================== MODAL
ion-modal {
    --height: 50%;
    width: 90%;
    --border-radius: 5px;
    margin: 5px auto;
    --box-shadow: 1px 1px 6px #04CF72;
  }
  ion-modal p{
    font-size: 15px;
  }
  ion-modal h5{
    padding: 2%;
    text-align: center;
  }

  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: #04CF72;
    --color: white;
  }
.cont{
    background: white;
    border: 2px solid #04CF72;
  }
  .titre p{
    font-weight: 900;
}
.sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  .sp{
    color: red;
  }





  
// =============================================================== MODAL
ion-modal#example-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}

.forms h2{
  font-size: 15px;
  margin: 10px;
  color: #04CF72;
  font-weight: bold;
}
.forms button{

  padding: 10px;
  border-radius: 5px;
  background-color: #04CF72;
  color: white;
  margin: 10px auto !important;
}
ion-item span{color: red;}
.bottoms-boutons{
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
.bottoms-boutons .annuler{
  --background: red;
}
.file-input{
  font-size: 9px;
  text-align: center;
}
.alerts{
  color: red;
  text-align: center;
  font-size: 12px;
}
ion-avatar{
  --size: 200px;
}
