<ion-content>
  <ion-toolbar class="tools">
    <div class="menu2">
      <div><ion-back-button slot="start" defaultHref="home" style="color: white;"></ion-back-button></div>
      <div> <ion-title slot="end">Ferme</ion-title></div>
    </div>

  </ion-toolbar>

  <div class="principale">
    <div class="section1">
      <div class="titre">
        <p>{{info.nomferme}}</p>
      </div>
      <div class="icons">
        <ion-icon class="create" name="create-outline" style="cursor: pointer;"></ion-icon>
        <ion-icon class="delete" name="trash-outline" style="cursor: pointer;"
          (click)="supprimerFerme(info.idferme)"></ion-icon>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="card">
    <ion-card class="ion-text-center">
      <img src="{{info.imageferme}}" alt="">
      <div class="description">
        <div class="inline">
          <div><span>Activité:</span></div>
          <div><span>{{info.activiteferme}}</span></div>
        </div>

        <div class="inline">
          <div><span>Adresse:</span></div>
          <div><span>{{info.adresseferme}}</span></div>
        </div>

        <div class="inline">
          <div><span>Tailles : </span></div>
          <div><span> {{info.taille}}</span></div>
        </div>

      </div>
    </ion-card>
  </div>


  <!--  =========================================  SEGMENTS ===========================  -->

  <div class="">

    <ion-segment [(ngModel)]="pages">
      <ion-segment-button value="productions">
        <ion-label>Productions</ion-label>
      </ion-segment-button>
      <ion-segment-button value="produits">
        <ion-label>produits</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ventes">
        <ion-label>Ventes</ion-label>
      </ion-segment-button>
    </ion-segment>


    <div class="mesproduits contenues" style="overflow-y: scroll;display: grid;">

      <div [ngSwitch]="pages" style="background-color: #e0dfe2;">

        <ion-list *ngSwitchCase="'productions'" style="background-color: #e0dfe2;">
          <!-- ============================================================================================================ -->




          <div>
            <ion-item>
              <ion-select placeholder="Toute les productions" name="idstatus" [(ngModel)]="form2.status"
                #statuser="ngModel" (ionChange)="faireUnFiltre()">
                <ion-select-option value="tous" checked>Toute les productions</ion-select-option>
                <ion-select-option *ngFor="let st of mesStatus " [value]="st" required="true"
                  name="idstatus">{{st}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div style="display: flex; justify-content: flex-end; margin: 2%;"> <ion-button expand="block"
              (click)="setOpen2(true)" fill="outline">

              <ion-icon name="add-circle-outline"> </ion-icon> production</ion-button>
          </div>




          <!-- <div class="titreInterim"><ion-title>Mes productions</ion-title></div> -->
          <div class="productions" style="background-color: #e0dfe2;" *ngIf="taille != 0 ">
            <ion-card *ngFor="let product of mesFIltres">
              <div class="titreProduction">
                <div class="nomTitre">
                  <p>{{product.typeproduction.nomtype}}</p>
                </div>
                <div class="status">
                  <p class="p1" *ngIf="product.status=='ENCOURS'">en cours</p>
                  <p class="p2" *ngIf="product.status=='AVENIR'">a venir</p>
                  <p class="p3" *ngIf="product.status=='TERMINER'">terminer</p>
                </div>
              </div>


              <div class="contenu">
                <div class="inline2">
                  <div style="margin-top: 1% !important;"><span><ion-icon name="stopwatch-outline"></ion-icon></span>
                  </div>
                  <div><span>Date d'entrée</span></div>
                </div>
                <div class="timer">
                  <p>{{product.dateentrer | date: 'dd/MM/yy'}} </p>
                </div>
              </div>

              <div class="contenu">
                <div class="inline2">
                  <div style="margin-top: 1% !important;"><span><ion-icon name="stopwatch-outline"></ion-icon></span>
                  </div>
                  <div><span>Date de sortie</span></div>
                </div>
                <div class="timer">
                  <p>{{product.datesortie | date: 'dd/MM/yy'}} </p>
                </div>
              </div>


              <div class="contenu">
                <div>Quantité</div>
                <div class="timer">
                  <p>{{product.quantite}}</p>
                </div>
              </div>
              <div align="center"> <ion-button (click)="openModal(product.idproduction)">Détails</ion-button></div>
            </ion-card>
          </div>

          <!-- ======================================================== SI IL N'Y A PAS DE PRODUITS ============================== -->
          <div class="ion-text-center" id="pasDeProductions" *ngIf="taille == 0 ">
            <P>Vous n'avez pas de production encore</P>
          </div>


        </ion-list>


        <!-- =========================================================== SECTION DES PRODUITS++++++++++++++++++++++++++++++ -->

        <ion-list *ngSwitchCase="'produits'" style="background-color: #e0dfe2;">
          <div style="display: flex; justify-content: flex-end; margin: 2%;"> <ion-button expand="block"
              (click)="setOpen3(true)" fill="outline">

              <ion-icon name="add-circle-outline"> </ion-icon> Produit</ion-button>
          </div>
          <div class="containerFerme" style="background-color: #e0dfe2;" *ngIf="produitTotal != 0">
            <div *ngFor="let prod of produits">
              <ion-card *ngIf="etatsProds" class="ferme1">
                <div class="cardeH" style="height: 150px;">
                  <img src="{{prod.phtoproduit}}" style="cursor: pointer;" (click)="produit(prod.idproduit)"
                    expand="block" (click)="setOpen(true)">
                </div>
                <ion-card-title style="margin: 2%;">{{prod.nomproduit.slice(0,18)}} . . .</ion-card-title>
                <ion-card-content>Stocks: {{prod.quantiteVente}}</ion-card-content>
                <div class="iconsProduits">
                  <ion-icon class="create" name="create-outline"></ion-icon>
                  <span style="font-size: 10px;color: black;">En vente</span>
                  <ion-icon class="delete" name="trash-outline" (click)="supprimerProd(prod.idproduit)"></ion-icon>
                </div>
              </ion-card>
            </div>
          </div>

          <!-- ======================================================== SI IL N'Y A PAS DE PRODUITS ============================== -->
          <div class="ion-text-center" id="pasDeProductions" *ngIf="produitTotal == 0 ">
            <P>Vous n'avez pas de produit encore</P>
          </div>

        </ion-list>

        <!-- ================================================================== HISTORIQUE DES VENTES ======================================= -->

        <ion-list *ngSwitchCase="'ventes'"
          style="margin: 2%; background-color: #e0dfe2; border-left: 2px solid white; border-right: 2px solid #fff; border-bottom: 4px solid #fff; border-top: 4px solid #FFF; border-radius: 12px;">
          <ion-title class="ion-text-center">Historique des ventes {{mesHisto.length}}</ion-title>
          <ion-card style="padding: 3%;" *ngFor="let historique of mesHisto.slice().reverse()">
            <div style="display: flex;justify-content: space-between;">
              <div> <strong>le {{historique.datevente | date: 'dd/MM/yy, à HH:mm'}}</strong></div>
              <div>{{historique.nomclient}} {{historique.prenomclient}}</div>
            </div>
            <div class="">
              <!-- <p>Vente de 200 Poussins à 700 Fcfa</p> -->
              <div style="display: flex;justify-content: space-between;">
                <div><strong>Produits:</strong></div>
                <div>{{historique.nomproduit}}</div>
              </div>

              <div style="display: flex;justify-content: space-between;">
                <div><strong>Quantité</strong></div>
                <div>{{historique.quantite}}</div>
              </div>

              <div style="display: flex;justify-content: space-between;">
                <div><strong>Prix unitaire:</strong></div>
                <div>{{historique.prixunitaire}} Fcfa</div>
              </div>

              <div style="display: flex;justify-content: space-between;">
                <div><strong>Montant total:</strong></div>
                <div>{{historique.montanttotal}} Fcfa</div>
              </div>

              <hr>
              <div style="display: flex;justify-content: space-between;">
                <div><strong>Supprimer</strong></div>
                <div><ion-icon name="trash" style="color: red;font-size: 20px;cursor: pointer;"
                    (click)="supprimerHistorique(historique.idhistorique)"></ion-icon></div>
              </div>

            </div>
          </ion-card>

        </ion-list>




      </div>
    </div>
  </div>




  <!-- ====================================================MODAL==================================== -->
  <ion-modal [isOpen]="isModalOpen" backdrop-dismiss="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Produits</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)" style="color: white; background: red;">Fermer</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="cont">
        <h5>{{bien.nomproduit}}</h5>
        <div align="center"><img src="{{bien.phtoproduit}}" alt="" srcset="" width="50%" class="ion-text-center"></div>

        <div class="modalProduits">

          <div class="sec1">
            <div class="titre">
              <p>Prix:</p>
            </div>
            <div class="valeurs">
              <p><span class="sp">{{bien.prix}}</span></p>
            </div>
          </div>

          <div class="sec1">
            <div class="titre">
              <p>Référence:</p>
            </div>
            <div class="valeurs">
              <p><span class="sp">{{bien.reference}}</span></p>
            </div>
          </div>

          <div class="sec1">
            <div class="titre">
              <p>Quantité:</p>
            </div>
            <div class="valeurs">
              <p><span class="sp">{{bien.quantiteVente}}</span></p>
            </div>
          </div>

          <p>
            {{bien.descriptionproduit}}
          </p>

        </div>



      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- ============================================================================== -->



























  <!-- ======================================================== -->

  <ion-modal id="example-modal" #modal trigger="ajouterferme" [isOpen]="isModalOpen2" backdrop-dismiss="false">
    <ng-template>
      <div class="forms">
        <div>

          <h4>Ajouter une production</h4>
        </div>


        <div *ngIf="erreursProduction" style="color: red; text-align: center;">
          <p>{{erreursProduction}}</p>
        </div>

        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>



          <ion-list>
            <ion-item>
              <ion-select placeholder="Choisissez un type de production" name="idtype" [(ngModel)]="form.idtype"
                #idtype="ngModel">
                <ion-select-option *ngFor="let st of mesTypes " [value]="st.idtype" required="true"
                  name="idtype">{{st.nomtype}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>


          <!-- ======================================================  CHAMPS NOM ================================= -->
          <ion-item>
            <ion-label position="floating">Date d'entrée <span>*</span></ion-label>
            <ion-input type="date" equired="true" required name="dateentrer" [(ngModel)]="form.dateentrer" minlength="3"
              #dateentrer="ngModel"></ion-input>
          </ion-item>

          <div class="alerts " role="alert" *ngIf="dateentrer.errors && f.submitted">
            <div *ngIf="dateentrer.errors">Veuillez une date correcte !</div>
          </div>

          <!-- ======================================================  CHAMPS PRENOM ================================= -->

          <ion-item counter="true">
            <ion-label position="floating">Date de sortie <span>*</span></ion-label>
            <ion-input type="date" name="datesortie" required [(ngModel)]="form.datesortie" minlength="3"
              #datesortie="ngModel"></ion-input>
          </ion-item>

          <div class="alerts " role="alert" *ngIf="datesortie.errors && f.submitted">
            <div *ngIf="datesortie.errors">Veuillez une date correcte !</div>
          </div>
          <!-- ======================================================  CHAMPS ADRESSE ================================= -->

          <ion-item counter="true">
            <ion-label position="floating">Quantité <span>*</span></ion-label>
            <ion-input type="number" name="quantite" required [(ngModel)]="form.quantite" min="0" maxlength="50"
              #quantite="ngModel"></ion-input>
          </ion-item>

          <div class="alerts " role="alert" *ngIf="quantite.errors && f.submitted">
            <div *ngIf="quantite.errors">Quantité obligatoire !</div>
          </div>
          <!-- ======================================================  CHAMPS TAILLE ================================= -->






          <div class="bottoms-boutons">

            <div><ion-button class="annuler" (click)="setOpen2(false)">annuler</ion-button></div>
            <div><ion-button type="submit">Créer</ion-button></div>


          </div>
        </form>
      </div>

    </ng-template>
  </ion-modal>



  <!-- ======================================================== AJOUTER UN PRODUITS -->

  <ion-modal id="example-modal" #modal trigger="ajouterferme" [isOpen]="isModalOpen3" backdrop-dismiss="false">
    <ng-template>
      <div class="forms">
        <div>

          <h4>Ajouter un produit</h4>
        </div>


        <div *ngIf="erreursProduction" style="color: red; text-align: center;">
          <p>{{erreursProduction}}</p>
        </div>

        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && ajouterProduits()" #f="ngForm" novalidate>
          <ion-list>
            <ion-item>
              <ion-select placeholder="Choisissez un type de produit" name="idtype" [(ngModel)]="form.idcategorie"
                #idcategorie="ngModel">
                <ion-select-option *ngFor="let categories of mesCategories " [value]="categories.idcategorie"
                  required="true" name="idtype">{{categories.nomcategories}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>


          <!-- ======================================================  CHAMPS NOM ================================= -->
          <ion-item>
            <ion-label position="floating">Nom de produit<span>*</span></ion-label>
            <ion-input type="text" equired="true" required name="nomproduit" [(ngModel)]="form.nomproduit" minlength="3"
              #nomproduit="ngModel"></ion-input>
          </ion-item>

          <div class="alerts " role="alert" *ngIf="nomproduit.errors && f.submitted">
            <div *ngIf="nomproduit.errors">Veuillez un nom correcte !</div>
          </div>

          <!-- ======================================================  CHAMPS PRENOM ================================= -->

          <ion-item>
            <ion-label position="floating">Réference<span>*</span></ion-label>
            <ion-input type="text" name="reference" required [(ngModel)]="form.reference" minlength="3"
              #reference="ngModel"></ion-input>
          </ion-item>

          <div class="alerts " role="alert" *ngIf="reference.errors && f.submitted">
            <div *ngIf="reference.errors">Veuillez une réference !</div>
          </div>
          <!-- ======================================================  CHAMPS ADRESSE ================================= -->

          <ion-item>
            <ion-label position="floating">Quantité <span>*</span></ion-label>
            <ion-input type="number" name="quantiteVente" required [(ngModel)]="form.quantiteVente"
              #quantiteVente="ngModel"></ion-input>
          </ion-item>

          <div class="alerts " role="alert" *ngIf="quantiteVente.errors && f.submitted">
            <div *ngIf="quantiteVente.errors">Quantité obligatoire !</div>
          </div>


          <!-- ======================================================  CHAMPS PRIX ================================= -->

          <ion-item>
            <ion-label position="floating">Prix <span>*</span></ion-label>
            <ion-input type="number" name="prix" required [(ngModel)]="form.prix" #prix="ngModel"></ion-input>
          </ion-item>

          <div class="alerts " role="alert" *ngIf="prix.errors && f.submitted">
            <div *ngIf="prix.errors">Veuillez donner un prix !</div>
          </div>


          <!-- ======================================================  CHAMPS ADRESSE ================================= -->

          <ion-item>
            <ion-label position="floating">Image <span>*</span></ion-label>
            <ion-input type="file" name="quantiteVente" required (change)="fileChangm($event)" [(ngModel)]="form.file"
              #file="ngModel"></ion-input>
          </ion-item>

          <div class="alerts " role="alert" *ngIf="file.errors && f.submitted">
            <div *ngIf="file.errors">Selectionner une image!</div>
          </div>

          <!-- ======================================================  CHAMPS ADRESSE ================================= -->

          <ion-item>
            <ion-label position="floating">Image <span>*</span></ion-label>
            <ion-input type="text" name="descriptionproduit" required [(ngModel)]="form.descriptionproduit" min="1"
              maxlength="50" #descriptionproduit="ngModel"></ion-input>
          </ion-item>

          <div class="alerts " role="alert" *ngIf="descriptionproduit.errors && f.submitted">
            <div *ngIf="descriptionproduit.errors"> Description</div>
          </div>
          <!-- ======================================================  CHAMPS TAILLE ================================= -->






          <div class="bottoms-boutons">

            <div><ion-button class="annuler" (click)="setOpen3(false)">annuler</ion-button></div>
            <div><ion-button type="submit">Créer</ion-button></div>

          </div>
        </form>
      </div>

    </ng-template>
  </ion-modal>


</ion-content>