<ion-content>
  <ion-toolbar class="tools">
    <div class="menu2">
      <div><ion-back-button slot="start" defaultHref="home" style="color: white;"></ion-back-button></div>
      <div> <ion-title slot="end">Ferme</ion-title></div>
    </div>

  </ion-toolbar>

  <div class="principale">
    <div class="section1">
      <div class="titre">
        <p>{{info.nomferme}}</p>
      </div>
      <div class="icons">
        <ion-icon class="create" name="create-outline"></ion-icon>
        <ion-icon class="delete" name="trash-outline" style="cursor: pointer;" (click)="supprimerFerme(info.idferme)"></ion-icon>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="card">
    <ion-card class="ion-text-center">
      <img src="{{info.imageferme}}" alt="">
      <div class="description">
        <div class="inline">
          <div><span>Activité:</span></div>
          <div><span>{{info.activiteferme}}</span></div>
        </div>

        <div class="inline">
          <div><span>Adresse:</span></div>
          <div><span>{{info.adresseferme}}</span></div>
        </div>

        <div class="inline">
          <div><span>Tailles : </span></div>
          <div><span> {{info.taille}}</span></div>
        </div>

      </div>
    </ion-card>
  </div>


  <!--  =========================================  SEGMENTS ===========================  -->

  <div class="">
   
      <ion-segment [(ngModel)]="pages">
        <ion-segment-button value="productions">
          <ion-label>Productions</ion-label>
        </ion-segment-button>
        <ion-segment-button value="produits">
          <ion-label>produits</ion-label>
        </ion-segment-button>
      </ion-segment>


    <div class="mesproduits contenues" style="overflow-y: scroll;display: grid;">

      <div [ngSwitch]="pages" style="background-color: #e0dfe2;">

        <ion-list *ngSwitchCase="'productions'" style="background-color: #e0dfe2;">
          <!-- ============================================================================================================ -->
          <div style="display: flex;justify-content: flex-end;"> <ion-button fill="outline" style="margin-right: 10px;">
              <ion-icon name="add-circle-outline" style="margin-right: 5px;"> </ion-icon> production</ion-button></div>
          <!-- <div class="titreInterim"><ion-title>Mes productions</ion-title></div> -->
          <div class="productions" style="background-color: #e0dfe2;" *ngIf="taille != 0 ">
            <ion-card *ngFor="let product of production">
              <div class="titreProduction">
                <div class="nomTitre">
                  <p>{{product.typeproduction.nomtype}}</p>
                </div>
                <div class="status">
                  <p class="p1" *ngIf="product.status=='ENCOURS'">en cours</p>
                  <p class="p2" *ngIf="product.status=='AVENIR'">a venir</p>
                  <p class="p3" *ngIf="product.status=='TERMINER'">terminer</p>
                </div>
              </div>


              <div class="contenu">
                <div class="inline2">
                  <div style="margin-top: 1% !important;"><span><ion-icon name="stopwatch-outline"></ion-icon></span>
                  </div>
                  <div><span>Date d'entrée</span></div>
                </div>
                <div class="timer">
                  <p>{{product.dateentrer | date: 'dd/MM/yy'}} </p>
                </div>
              </div>

              <div class="contenu">
                <div class="inline2">
                  <div style="margin-top: 1% !important;"><span><ion-icon name="stopwatch-outline"></ion-icon></span>
                  </div>
                  <div><span>Date de sortie</span></div>
                </div>
                <div class="timer">
                  <p>{{product.datesortie | date: 'dd/MM/yy'}} </p>
                </div>
              </div>


              <div class="contenu">
                <div>Quantité</div>
                <div class="timer">
                  <p>{{product.quantite}}</p>
                </div>
              </div>
              <div align="center"> <ion-button routerLink="/bottom-bar/detail-production">Détails</ion-button></div>
            </ion-card>
          </div>

          <!-- ======================================================== SI IL N'Y A PAS DE PRODUITS ============================== -->
          <div class="ion-text-center" id="pasDeProductions" *ngIf="taille == 0 ">
            <P>Vous n'avez pas de production encore</P>
          </div>


        </ion-list>


        <!-- =========================================================== SECTION DES PRODUITS++++++++++++++++++++++++++++++ -->

        <ion-list *ngSwitchCase="'produits'" style="background-color: #e0dfe2;">

          <div class="containerFerme" style="background-color: #e0dfe2;" *ngIf="produitTotal != 0">
            <div *ngFor="let prod of produits">
              <ion-card *ngIf="etatsProds" class="ferme1">
                <div class="cardeH" style="height: 150px;">
                  <img src="{{prod.phtoproduit}}" style="cursor: pointer;" (click)="produit(prod.idproduit)"
                    expand="block" (click)="setOpen(true)">
                </div>
                <ion-card-title style="margin: 2%;">{{prod.nomproduit.slice(0,18)}} . . .</ion-card-title>
                <ion-card-content>Qté: {{prod.quantiteVente}}</ion-card-content>
                <div class="iconsProduits">
                  <ion-icon class="create" name="create-outline"></ion-icon>
                  <span style="font-size: 10px;color: black;">En vente</span>
                  <ion-icon class="delete" name="trash-outline" (click)="supprimerProd(prod.idproduit)"></ion-icon>
                </div>
              </ion-card>
            </div>
          </div>

          <!-- ======================================================== SI IL N'Y A PAS DE PRODUITS ============================== -->
          <div class="ion-text-center" id="pasDeProductions" *ngIf="produitTotal == 0 ">
            <P>Vous n'avez pas de produit encore</P>
          </div>

        </ion-list>
      </div>
    </div>
  </div>




  <!-- ====================================================MODAL==================================== -->
  <ion-modal [isOpen]="isModalOpen" backdrop-dismiss="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Produits</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)" style="color: white; background: red;">Fermer</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="cont">
        <h5>{{bien.nomproduit}}</h5>
        <div align="center"><img src="{{bien.phtoproduit}}" alt="" srcset="" width="50%" class="ion-text-center"></div>

        <div class="modalProduits">

          <div class="sec1">
            <div class="titre">
              <p>Prix:</p>
            </div>
            <div class="valeurs">
              <p><span class="sp">{{bien.prix}}</span></p>
            </div>
          </div>

          <div class="sec1">
            <div class="titre">
              <p>Référence:</p>
            </div>
            <div class="valeurs">
              <p><span class="sp">{{bien.reference}}</span></p>
            </div>
          </div>

          <div class="sec1">
            <div class="titre">
              <p>Quantité:</p>
            </div>
            <div class="valeurs">
              <p><span class="sp">{{bien.quantiteVente}}</span></p>
            </div>
          </div>

          <p>
            {{bien.descriptionproduit}}
          </p>

        </div>



      </ion-content>
    </ng-template>
  </ion-modal>
<!-- ============================================================================== -->



</ion-content>
