<ion-header>
  <ion-toolbar>
    <ion-title>details-formation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 

  <iframe [src]="readVideo(videoUrl)" frameborder="0" width="100%" height="300px"></iframe>

  <div class="list" style="background-color: red;margin-top: 30px;">
    <div class="card" *ngFor="let items of mesVideos">
        <div>
          <img src="{{items.image}}" alt="{{items.titre}}" srcset="" (click)="changeV(items.url)">
        </div>
        <div>
          <h5>{{items.titre}}</h5>
        </div>
    </div>
  </div>
</ion-content>
