

<ion-content>
    <div class="titre">
      <ion-title>Bienvenue</ion-title>
    </div>
    <div class="imagesLogo">
        <img src="../../../assets/img/logo1.png" alt="logo" srcset="" title="Logo" width="80%">
    </div>
    <div class="description">
        <p>Nous sommes une entreprise de production
          et de commercialisation des poulets de chair,
          Poulet pondeuse, œufs  et poussins.
        </p>
    </div>
    <div class="boutonCommencer">
        <button routerLink="connexion">Commencer</button>
    </div>
</ion-content>
