<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="principalG">
        <ion-card class="s">
          <div class="principal">

            <div class="profil">
                <img src="{{user.avatar}}" alt="" srcset="">
                <ion-badge><ion-icon name="camera"></ion-icon></ion-badge>
            </div>
            <div class="donnees">
                <p>{{user.email}}</p>
                <p>{{user.nom}} {{user.prenom}}</p>
                <p>{{user.username}}</p>
                <p>{{user.adresse}}</p>
            </div>
      </div>
        </ion-card>
    </div>
<!-- ================================= LES BOUTTONS AJOUTER ET DECONNEXION -->
<div class="boutons">
  <div class="modifier">
      <ion-button>Modifier</ion-button>
  </div>
  <div class="deconnexion">
      <ion-button (click)=" logout()">Déconnexion</ion-button>
  </div>
</div>
<div align="center" style="color: #04CF72;">________</div>
<!-- ================================= LISTER LES FERMES -->
<div class="listefermes">
  <div class="text">
      <ion-title>Mes fermes</ion-title>
  </div>
  <div class="ajouter">
      <ion-button fill="outline" id="ajouterferme" expand="block" (click)="setOpen(true)"> <ion-icon slot="start" name="add"></ion-icon> Ajouter</ion-button>
  </div>
</div>
<!-- =============================================== LES FERMES =========== -->

<div class="containerFerme">
  <div class="ferme1" *ngFor="let fermes of lesFermes">
      <ion-card>
          <img src="{{fermes.imageferme}}">
          <ion-card-title>{{fermes.nomferme}}</ion-card-title>
          <ion-button [routerLink]="['ferme',fermes.idferme]">Voir plus</ion-button>
          <!-- [routerLink]="['/bottom-bar/forum/detail-forum',themes.idtheme]" -->
      </ion-card>
  </div>
</div>

<!-- --========================================================== LE FORMULAIRE D'AJOU -->


 <!-- ======================================================== -->

 <ion-modal id="example-modal" #modal trigger="ajouterferme" [isOpen]="isModalOpen">
  <ng-template>
    <div class="forms">
      <h2>Ajouter une ferme </h2>
      <form>
        <ion-item counter="true">
          <ion-label position="floating">Nom <span>*</span></ion-label>
          <ion-input type="text" maxlength="15" ></ion-input>
        </ion-item>

        <ion-item counter="true">
          <ion-label position="floating">Activité <span>*</span></ion-label>
          <ion-input type="text" maxlength="15" ></ion-input>
        </ion-item>

        <ion-item counter="true">
          <ion-label position="floating">Adresse <span>*</span></ion-label>
          <ion-input type="text" maxlength="15" ></ion-input>
        </ion-item>

        <ion-item counter="true">
          <ion-label position="floating">Taills <span>*</span></ion-label>
          <ion-input type="text" maxlength="15" ></ion-input>
        </ion-item>

        <ion-item class="file-input">
          <ion-icon name="camera" style="color: #04CF72;"></ion-icon>
          <ion-input type="file" ></ion-input>
        </ion-item>
        <div class="bottoms-boutons">
          <div><ion-button>Créer</ion-button></div>
          <div><ion-button class="annuler" (click)="setOpen(false)">annuler</ion-button></div>
          
          
        </div>
      </form>
    </div>
      
  </ng-template>
</ion-modal>


</ion-content>
