<ion-content>
 <div class="principale" >
  <ion-slides [options]="options">

    <ion-slide>
        <ion-card>
          <img src="../../../assets/img/fermier.jpg" alt="" srcset="">

        </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/img/fermier (2).jpg" alt="" srcset="">
      </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <img src="../../../assets/img/tenier lespoules.jpg" alt="" srcset="">
         </ion-card>
</ion-slide>

  </ion-slides>
 </div>

 <!-- ++++++++++++++++++++++++++++++++++++++++++++++++ MES FERMES  -->

<div class="mesFermes">
    <ion-card>
        <ion-img src="../../../assets/img/mesfermes.jpeg"></ion-img>
        <ion-card-content>
            <p>Le suivi de la production des poules pondeuses ainssi que des 
              poulets de chairs necessite un grand sacrifice de temps et veilles aux entretiens.
            </p>

           <div class="buttonMesfermes"> <ion-button routerLink="/detail-production">Mes fermes</ion-button></div>
        </ion-card-content>
    </ion-card>
</div>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ LES PRODUITS ACCUEILS -->
<div class="lesTitres"><p>Les produits</p></div>

<div class="containerFormation1">
    <ion-slides [options]="options2">

        <ion-slide class="produits1" *ngFor="let prod  of lesproduits">
               <ion-card>
             <div style="height: 100px; cursor: pointer;"> <img src="{{prod.phtoproduit}}" (click)="unProduit(prod.idproduit)"  (click)="setOpen(true)"> </div>
              <ion-card-title style="font-size: 12px;" (click)="unProduit(prod.idproduit)"  (click)="setOpen(true)">{{prod.nomproduit.slice(0,15)}}</ion-card-title>
              <p><strong>{{prod.prix}} Fcfa</strong></p>
              <div class="boutonpanier"> 
                <button routerLink="{{prod.idproduits}}">Ajouter au panier <ion-icon name="cart"></ion-icon></button>
              </div>
          </ion-card>

        </ion-slide>
      </ion-slides>
</div>


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ LES FORMATIONS ACCUEILS -->
<div class="lesTitres"><p>Suivre des formations</p></div>


<div class="produits">
  <ion-card *ngFor="let formation of lesFormation" class="card">
    <ion-avatar class="ion-text-center" style="cursor: pointer;" (click)="uneFormation(formation.idformation)" expand="block"
    (click)="setOpen(true)">
      <img src="{{formation.photoformation}}" alt="">
    </ion-avatar>
    <ion-card-title (click)="uneFormation(formation.idformation)" (click)="setOpen(true)">{{formation.titreformation.slice(0,25)}} ...</ion-card-title>
    
    <div class="boutonpaniers d-flex justify-content-center">
       <ion-button (click)="visiter(formation.urlformation)">Commencer</ion-button>
    </div>
  </ion-card>
</div>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ LES PRODUITS ACCUEILS -->
<div class="lesTitres"><p>Rétrouver des experts ici</p></div>
<div class="containeurExperts">
      <ion-card class="expert">
          <div class="img-left"> <img src="../../../assets/img/expert.png" alt="" srcset=""> </div>
          <div class="text-right">Dans cette section, vous trouverez des experts a qui parlé en toute securité. 
            <ion-button routerLink="/bottom-bar/forum">Discuter</ion-button>
          </div>
      </ion-card>
</div>




 <!-- ====================================================MODAL FORMATIONS==================================== -->

 <ion-modal [isOpen]="isModalOpen" backdrop-dismiss="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Formation</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)" style="color: white; background: red;">Fermer</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="cont">
      <h5>{{uneformation.titreformation}}</h5>
      <div align="center"><img src="{{uneformation.photoformation}}" alt="" srcset="" width="50%"
          class="ion-text-center"></div>

      <div class="modalProduits">

        <div class="sec1">
          <div class="titre">
            <p>Durée:</p>
          </div>
          <div class="valeurs">
            <p><span class="sp">{{uneformation.dureformation}}</span></p>
          </div>
        </div>
        
        <p>
          {{uneformation.description}}
        </p>

      </div>



    </ion-content>
  </ng-template>
</ion-modal>

<!-- ======================================================================== -->

<!-- ==================================================== MODAL PRODUITS ==================================== -->

<ion-modal [isOpen]="isModalOpen" backdrop-dismiss="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Produits</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)" style="color: white; background: red;">Fermer</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="cont">
      <h5>{{unProd.nomproduit}}</h5>
      <div align="center"><img src="{{unProd.phtoproduit}}" alt="" srcset="" width="50%"
          class="ion-text-center"></div>

      <div class="modalProduits">

        <div class="sec1">
          <div class="titre">
            <p>Prix:</p>
          </div>
          <div class="valeurs">
            <p><span class="sp">{{unProd.prix}} Fcfa</span></p>
          </div>
        </div>
        <div class="sec1">
          <div class="titre">
            <p>Quantité disponible:</p>
          </div>
          <div class="valeurs">
            <p><span class="sp">{{unProd.quantiteVente}}</span></p>
          </div>
        </div>
        
        <p>
          {{unProd.descriptionproduit}}
        </p>

      </div>



    </ion-content>
  </ng-template>
</ion-modal>


</ion-content>

