
<!-- MON MENU -->
<!-- <ion-header>
  <ion-toolbar>
    <div slot="start" class="retourB">
        <ion-title>Accueil</ion-title>
    </div>

    <div slot="end" class="lefts">
      <ion-icon name="cart-outline" (click)="openModal()"></ion-icon>
      <ion-badge class="cart">5</ion-badge>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge class="notif"> 5 </ion-badge>
    </div>
  </ion-toolbar>
</ion-header> -->

<!--  -->
<ion-content>
 <div class="principale" >
  <ion-slides [options]="options">

    <ion-slide>
        <ion-card>
          <img src="../../../assets/img/fermier.jpg" alt="" srcset="">

        </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/img/fermier (2).jpg" alt="" srcset="">
      </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <img src="../../../assets/img/tenier lespoules.jpg" alt="" srcset="">
         </ion-card>
</ion-slide>

  </ion-slides>
 </div>

 <!-- ++++++++++++++++++++++++++++++++++++++++++++++++ MES FERMES  -->

<div class="mesFermes">
    <ion-card>
        <ion-img src="../../../assets/img/mesfermes.jpeg"></ion-img>
        <ion-card-content>
            <p>Le suivi de la production des poules pondeuses ainssi que des 
              poulets de chairs necessite un grand sacrifice de temps et veilles aux entretiens.
            </p>

           <div class="buttonMesfermes"> <ion-button >Mes fermes</ion-button></div>
        </ion-card-content>
    </ion-card>
</div>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ LES PRODUITS ACCUEILS -->
<div class="lesTitres"><p>Les produits</p></div>

<div class="containerFormation">
    <ion-slides [options]="options2">

        <ion-slide class="produits1" *ngFor="let prod  of lesproduits">
               <ion-card>
              <img src="{{prod.phtoproduit}}">
              <ion-card-title>{{prod.nomproduit}}</ion-card-title>
              <p><strong>{{prod.prix}} Fcfa</strong></p>
              <div class="boutonpanier"> 
                <button routerLink="{{prod.idproduits}}">Ajouter au panier <ion-icon name="cart"></ion-icon></button>
              </div>
          </ion-card>

        </ion-slide>
      </ion-slides>
</div>


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ LES FORMATIONS ACCUEILS -->
<div class="lesTitres"><p>Suivre des formations</p></div>
<div class="containerFormation">
    <div class="formation1">
        <ion-card>
            <img src="../../../assets/produits/téléchargement (2).jpg">
            <ion-card-title>Débuter en aviculture</ion-card-title>
            <ion-button>Commencer</ion-button>
        </ion-card>
    </div>

    <div class="formation1">
      <ion-card>
          <img src="../../../assets/produits/recette.jpg">
          <ion-card-title>Création des recettes</ion-card-title>
          <!-- <ion-card-content><p>Nous vous proposons des formations certifiées a des couts exceptionnels</p></ion-card-content> -->
          <ion-button>Commencer</ion-button>
      </ion-card>
  </div>
</div>
<div class="lienVoirPlus"> <a routerLink="/bottom-bar/formation">Voir plus >></a></div>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ LES PRODUITS ACCUEILS -->
<div class="lesTitres"><p>Rétrouver des experts ici</p></div>
<div class="containeurExperts">
      <ion-card class="expert">
          <div class="img-left"> <img src="../../../assets/img/expert.png" alt="" srcset=""> </div>
          <div class="text-right">Dans cette section, vous trouverez des experts a qui parlé en toute securité. 
            <ion-button routerLink="/bottom-bar/forum">Discuter</ion-button>
          </div>
      </ion-card>
</div>



</ion-content>

