<ion-header>
  <ion-toolbar>
    <ion-title>
      Notification
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div>
    <ion-segment [(ngModel)]="pages">
      <ion-segment-button value="nonlue">
        <ion-label>Non lue</ion-label>
      </ion-segment-button>
      <ion-segment-button value="lue">
        <ion-label>déja lue</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>




  <div class="mesNotifs" [ngSwitch]="pages">
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::: NOTIFICATION NON LUE:::::::::::::::::::::::::::::::: -->
    <ion-list *ngSwitchCase="'nonlue'" style="  background: #efecee;">
      <div class="uneNotif">
        <ion-card *ngFor="let notification of notif.slice().reverse()" style="padding: 2%;">
          <h5>{{notification.titrenotification}}</h5>
          <p>{{notification.messagenotification}}</p>
          <span *ngIf="notification.lire == false" style="display: flex;justify-content: flex-end;"><ion-badge
              style="cursor: pointer;" (click)="lireNotig(notification.idnotif)">Marquer comme lue</ion-badge></span>
          <span *ngIf="notification.lire == true" style="display: flex;justify-content: flex-end;"><ion-badge
              style="background-color: red;">déja lu</ion-badge></span>
        </ion-card>
      </div>
    </ion-list>
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::: NOTIFICATION  LUE:::::::::::::::::::::::::::::::: -->
    <ion-list *ngSwitchCase="'lue'" style="  background: #efecee;">
      <div class="uneNotif">
        <ion-card *ngFor="let notification of notifLu" style="padding: 2%;">
          <h5>{{notification.titrenotification}}</h5>
          <p>{{notification.messagenotification}}</p>
          <span *ngIf="notification.lire == false" style="display: flex;justify-content: flex-end;"><ion-badge
              style="cursor: pointer;" (click)="lireNotig(notification.idnotif)">Marquer comme lue</ion-badge></span>
          <span *ngIf="notification.lire == true" style="display: flex;justify-content: flex-end;"><ion-badge
              style="background-color: red;">déja lu</ion-badge></span>
        </ion-card>
      </div>
    </ion-list>

  </div>
</ion-content>