<ion-content>
  <ion-title class="ion-text-center">Notification</ion-title>
  <div class="mesNotifs">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Une nouvelle formation</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Une formation vient d'etres ajouter vous pouvez la trouvée dans la section des formations du plateforme.


        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header">
          <ion-label>Second Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Second Content
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header">
          <ion-label>Third Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Third Content
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
