<ion-header>
  <ion-toolbar>
    <div slot="start">
        <ion-title>forum</ion-title>
    </div>

    <div slot="end" class="lefts">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-badge class="cart">5</ion-badge>
      <ion-icon name="notifications"></ion-icon>
      <ion-badge class="notif"> 5 </ion-badge>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section1">
      <ion-fab vertical="top" horizontal="end" slot="fixed" id="open-custom-dialog" expand="block">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
   <div style="width: 75%; margin-top: 2%;">
    <ion-searchbar slot="end" animated="true" placeholder="Recherche"></ion-searchbar>
   </div> 
  </div>
<!-- ================================================ SECTION FORUM QUESTIONS OR THEMES -->
  <div class="sectionTheme">
  <div class="contenu" *ngFor="let themes of lesThemes.slice().reverse()">
    <div class="imgEtTheme">
      <div class="images">
        <img src="{{themes.user.avatar}}" alt="" srcset="">
        <!-- <img src="../../../assets/img/noss.png" alt="" srcset=""> -->
      </div>
      <div class="titre">
          <p>{{themes.titretheme}}</p>
          <span>Par: <strong>{{themes.user.nom}} {{themes.user.prenom}}</strong> le {{themes.dateposte | date: 'dd/MM/yy, à HH:mm'}}</span>
      </div>
  </div>

  <div class="commentaireEtVoirplus">
    <div class="commentaires">
        <p><strong>{{themes.nbreCommentaire}}</strong> Commentaire(s)</p>
    </div>
    <div class="voirplus">
      <a [routerLink]="['/bottom-bar/forum/detail-forum',themes.idtheme]">Voir plus</a>

      <!-- [routerLink]="['/details-regions',regions.id_regions]" -->
    </div>
</div>
      <!-- <div class="imgEtTheme">
          <div class="images">
            <img src="../../../assets/img/noss.png" alt="" srcset="">
          </div>
          <div class="titre">
              <p>Comment produire une pondeuses ?</p>
              <span>Par: <strong>COULIBALY Adama</strong> le 20/01/22 à 10 h 02</span>
          </div>
      </div>

      <div class="commentaireEtVoirplus">
        <div class="commentaires">
            <p><strong>10</strong> Commentaire(s)</p>
        </div>
        <div class="voirplus">
          <a routerLink="/bottom-bar/forum/detail-forum">Voir plus</a>
        </div>
    </div> -->
      
  </div>
  </div>

<!-- ======================================================== -->

<ion-modal id="example-modal" #modal trigger="open-custom-dialog">
  <ng-template>
    <div class="forms">
      <h2>Poser votre question ici </h2>
      <form>
        <ion-item counter="true">
          <ion-label position="floating">Question</ion-label>
          <ion-input maxlength="150" minlength="10"></ion-input>
        </ion-item>
        <div align="center"><button>Poster la question</button></div>
      </form>
    </div>
      
  </ng-template>
</ion-modal>



</ion-content>