<ion-header>
  <ion-toolbar>
    <div slot="start" class="retourB">
      <ion-back-button slot="start" defaultHref=""></ion-back-button>
        <ion-title>forum</ion-title>
    </div>

    <div slot="end" class="lefts">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-badge class="cart">5</ion-badge>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge class="notif"> 5 </ion-badge>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="section1">
      <ion-fab vertical="top" horizontal="end" slot="fixed" id="open-custom-dialog" expand="block">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
   <div style="width: 75%; margin-top: 2%;">
    <ion-searchbar slot="end" animated="true" placeholder="Recherche"  [(ngModel)]="filterTerm" ></ion-searchbar>
   </div> 
  </div>
<!-- ================================================ SECTION FORUM QUESTIONS OR THEMES -->
  <div class="sectionTheme">
    <!-- .slice().reverse()  Pour mettre a l'ordre decroissant --> 
  <div class="contenu" *ngFor="let themes of lesThemes | filter: filterTerm">
    <div class="imgEtTheme">
      <div class="images">
        <ion-avatar>
          <img src="{{themes.user.avatar}}" alt="" srcset="">
        </ion-avatar>
        
        <!-- <img src="../../../assets/img/noss.png" alt="" srcset=""> -->
      </div>
      <div class="titre">
          <p>{{themes.titretheme.slice(0,50)}}</p>
          <span>Par: <strong>{{themes.user.nom}} {{themes.user.prenom}}</strong> le {{themes.dateposte | date: 'dd/MM/yy, à HH:mm'}}</span>
      </div>
  </div>

  <div class="commentaireEtVoirplus">
    <!-- <div class="commentaires" style="display: flex;">
      <p style="width: 20px; background-color: red; height: 20px; border-radius: 100%; text-align: center;"> <span>{{themes.nbreCommentaire}}</span>  </p>
        <p> Commentaire(s)</p>
    </div> -->
    <div class="commentaires">
     <div> 
      <ion-fab-button style="width: 25px !important; height: 25px !important;">
      {{themes.nbreCommentaire}}
      </ion-fab-button>
    </div>
      <div>
        <p> Commentaire(s)</p>
      </div>
    </div>
     
    <div class="voirplus" >
      <!-- *ngIf="themes.nbreCommentaire != 0" -->
      <a [routerLink]="['/bottom-bar/forum/detail-forum',themes.idtheme]">Voir plus</a>

      <!-- [routerLink]="['/details-regions',regions.id_regions]" -->
    </div>
</div>

      
  </div>
  </div>

<!-- ======================================================== -->

<ion-modal id="example-modal" #modal trigger="open-custom-dialog">
  <ng-template>
    <div class="forms">
      <h2>Poser votre question ici </h2>

      <div *ngIf="tailleMinimum == false" style="color: red; font-size: 15px; text-align: center;">{{erreur}}</div>

      <form name="contact-form" (ngSubmit)="ajouter()">
        <ion-item counter="true">
          <ion-label position="floating">Question ou Thème</ion-label>
          <ion-input type="text" maxlength="150" minlength="25" name="titretheme" [(ngModel)]="theme.titretheme"></ion-input>
        </ion-item>
        <div align="center">
          <button  >Poster la question</button>
        </div>
      </form>
      <!-- (click)="ajouter()" -->
    </div>
  </ng-template>
</ion-modal>



</ion-content>