<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inscription</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
  <div class="contenaire">
    <div class=" imageLogog ion-text-center"><img src="../../../assets/img/logo1.png" alt="" width="40%">
      <div class="annuler" style="position: absolute;top: 40px; right: 20px;"> <a routerLink="/connexion" style="color: red; font-weight: bold;text-decoration: none;">Annuler</a></div>
    </div>

    <div *ngIf="erreur" style="color: red; text-align: center;">
        <p>{{erreur}}</p>
    </div>

    <div class="formulaire">
      <form class="container" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
      novalidate>

      <div class="section01" [hidden]="!isVisible">

      <div *ngIf="section1" class="ion-text-center" style="color: red;">
            <span>{{section1}}</span>
      </div>

        <ion-item>
          <ion-label color="primary" position="floating">Nom</ion-label>
          <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary"
            inputmode="text" placeholder="Entrer votre nom" required="true" name="nom" [(ngModel)]="form.nom"  minlength="3" maxlength="20"
            #nom="ngModel"></ion-input>
            <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>
          <!-- EN CAS D'4NVOI SANS REMPLIR LE CHAMP DE USERNAME  -->
          <div
          class="alertes"
          role="alert"
          *ngIf="nom.errors && f.submitted">
           Nom d'utilisateur est obligatoire !
        </div>



          <ion-item>
          <ion-label color="primary" position="floating">Prénom</ion-label>
          <ion-input autocorrect="on"   clearOnEdit="true" color="primary"
            inputmode="text" placeholder="Prénom" required="true" name="prenom" [(ngModel)]="form.prenom"  minlength="3" maxlength="20"
            #prenom="ngModel"></ion-input>
            <ion-icon name="person"  slot="start"></ion-icon>
        </ion-item>
         <!-- EN CAS D'4NVOI SANS REMPLIR LE CHAMP DE USERNAME  -->
         <div
         class="alertes"
         role="alert"
         *ngIf="prenom.errors && f.submitted">
         Prénom d'utilisateur est obligatoire !
       </div>
 <!-- autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" 
            inputmode="tel"  required="true" name="username" [(ngModel)]="form.username" 
            #username="ngModel" -->
        <ion-item>
          <ion-label color="primary" position="floating">Téléphone</ion-label>
          <ion-intl-tel-input id="usernID" defaultCountryiso="ml" modalSearchPlaceholder="Rechercher ici" modalCloseText="fermer" modalTitle="Votre pays"
          name="usernID"  #usernID="ngModel" [(ngModel)]="form.usernID"></ion-intl-tel-input >
            <ion-icon name="call-outline" slot="start"></ion-icon>       
        </ion-item>
        <!-- EN CAS D'4NVOI SANS REMPLIR LE CHAMP DE USERNAME  -->
         <!-- <div
         class="alertes"
         role="alert"
         *ngIf="username.errors && f.submitted">
         Numéro obligatoire !
       </div> -->


        <ion-item>
          <ion-label color="primary" position="floating">Email</ion-label>
          <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary"
            inputmode="email" placeholder="Entre votre mail" required="true" name="email" [(ngModel)]="form.email"  minlength="3" maxlength="45"
            #email="ngModel"></ion-input>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-item>
         <!-- EN CAS D'4NVOI SANS REMPLIR LE CHAMP DE USERNAME  -->
         <div
         class="alertes"
         role="alert"
         *ngIf="email.errors && f.submitted">
         Email est obligatoire !
       </div>

      </div>


      <div class="section02" [hidden]="isVisible">

        <ion-list>
          <ion-item>
            <ion-select placeholder="Quel est votre status ?" name="idstatus" [(ngModel)]="form.idstatus" #statuser="ngModel">
              <ion-select-option *ngFor="let st of mesStatus " [value]="st.idstatus"  required="true" name="idstatus" 
              >{{st.nomstatus}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
  
        <ion-item>
          <ion-label color="primary" position="floating">Adresse</ion-label>
          <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary"
            inputmode="text" placeholder="Entre votre nom" required="true" name="adresse" [(ngModel)]="form.adresse"  minlength="3" maxlength="20"
            #adresse="ngModel"></ion-input>
            <ion-icon name="location-outline" slot="start"></ion-icon>
        </ion-item> 
         <!-- EN CAS D'4NVOI SANS REMPLIR LE CHAMP DE USERNAME  -->
         <div
         class="alertes"
         role="alert"
         *ngIf="adresse.errors && f.submitted">
          Veuillez donner une adresse 
       </div>



        <ion-item>
          <ion-label color="primary" position="floating"> Mot de passe </ion-label>
          <ion-input type="password" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary"
            inputmode="text" placeholder="Entre votre nom" required="true" name="passord" [(ngModel)]="form.password"  minlength="3" maxlength="20"
            #passord="ngModel"></ion-input>
            <ion-icon name="bag-outline" slot="start"></ion-icon>
           
        </ion-item>
         <!-- EN CAS D'4NVOI SANS REMPLIR LE CHAMP DE USERNAME  -->
         <div
         class="alertes"
         role="alert"
         *ngIf="passord.errors && f.submitted">
          Mot de passe obligatoire
       </div>



        <ion-item>
          <ion-label color="primary" position="floating">Confirmer le mot de passe </ion-label>
          <ion-input type="password" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary"
            inputmode="text" placeholder="Entre votre nom" required="true" name="pass2" [(ngModel)]="form.pass2"  minlength="3" maxlength="20"
            #pass2="ngModel"></ion-input>
            <ion-icon name="bag-check-outline" slot="start"></ion-icon>
        </ion-item>
         <!-- EN CAS D'4NVOI SANS REMPLIR LE CHAMP DE USERNAME  -->
         <div
         class="alertes"
         role="alert"
         *ngIf="pass2.errors && f.submitted">
          Confirmer le mot de passe !
       </div>

      </div>

      <div style="display: flex;flex-direction: row; justify-content: space-between;margin-top: 5%;">
         <ion-button [hidden]="isVisible" (click)="Retour()" >Retour</ion-button>
         <ion-button [hidden]="!isVisible" (click)="Suivant()" >Suivants</ion-button>
         <ion-button [hidden]="isVisible" type="submit">Créer un compte</ion-button>
      </div>



        <!-- <div class="ion-text-center" [hidden]="isVisible"> 
          <ion-button type="submit">Créer un compte</ion-button>
        </div> -->
      </form>
    </div>
  </div>
</ion-content>