<ion-header>
  <ion-toolbar>
    <ion-title>
      Mon panier
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="stylePanie">

<div *ngIf="inc == 0" style="text-align: center;margin-top: 20px;">
    <p>Vous n'avez pas de produit dans le panier !</p>
</div>

<div style="height: 430px; display: grid; overflow-y: scroll;" class="panierScroll" *ngIf="inc != 0">


  <div *ngFor="let prod of panierProd">
    <ion-card>
      <!-- =========================== TEXT DESC ET IMAGES ============================= -->
      <div class="prodPanier">
        <div class="contenuDesc">
          <p>{{prod.produits[0].nomproduit}}</p>
          <p>{{prod.produits[0].prix}} Fcfa</p>
        </div>

        <div class="contenuImage">
          <ion-badge (click)="supprimer(prod.idpanier,prod.produits[0].idproduit)"> <ion-icon name="trash"></ion-icon> </ion-badge>
          <img src="{{prod.produits[0].phtoproduit}}" alt="" srcset="">
        </div>
      </div>

      <!-- ================================= increment et total =================================================== -->
      <div style="display: flex;flex-direction: row;align-items: center;justify-content: space-around;">
          <div> 
            <div style="display: grid;grid-template-columns: auto auto auto;">
            <form #myForm="ngForm">
              <input  type="number"   [(ngModel)]="prod.quantite"  name="myNumber" ngModel required #myNumberInput="ngModel"  min="0" style="width: 60px;">
              <ion-col size="2" class="ion-align-items-center">
                <ion-button type="submit" [disabled]="!myForm.valid" (click)="mettreAjours(myForm,prod.produits[0].idproduit)">
                    <ion-icon name="refresh" slot="icon-only" ></ion-icon>
                </ion-button>
              </ion-col>
           </form>
          </div>
        </div>

        <div>
          <p><strong>{{prod.totalproduit}} Fcfa</strong></p>
        </div>
      </div>
    </ion-card>
  </div>

</div>

<div>
  <div class="first" style="display: flex; flex-direction: row;margin-top: 10px; justify-content: space-around;">
    <div><ion-title>Total</ion-title></div>
    <div>
      <ion-title>{{MontantTotal}} Fcfa</ion-title>
    </div>
  </div>
  <div class="ion-text-center"><ion-button routerLink="/bottom-bar/produits/valider-commende" (click)="closeModal()">Passer au payement</ion-button></div>
</div>
  
</ion-content>

<!-- <ion-footer>
  <div class="pied">

  </div>
</ion-footer> -->