<ion-content>
  <!-- ================================SECTION IMAGE DE FONT PREMIER PLAN -->
  <div class="fontImage">
  <div class="text-float">
    <p>Faites vos achats</p>
  </div>      
  </div>


  <!-- ========================================================= -->

  <div class="secondSection">
      <ion-card>
          <div class="premier">
              <div style="display: flex;justify-content: start;"><ion-icon name='location-outline'></ion-icon><ion-title> Adresse de livraison</ion-title></div>
              <div><ion-icon name="pencil-outline"></ion-icon></div>
          </div>

          <div class="sec">
              <div class="nom"><strong>Nom:</strong> Coulibaly </div>
              <div class="right prenom"><strong>Prénom:</strong> Adama </div>
          </div>

          <div class="sec">
            <div class="nom"><strong>Tel:</strong> 70446711 </div>
            <div class="right prenom"><strong>Adresse:</strong> Doumanzana </div>
        </div>

          <div class="sec">
            <div class="rue"><strong>Rue:</strong> 7011 </div>
            <div class="right porte"><strong>Porte:</strong> 102 </div>
          </div>

      </ion-card>
  </div>


  <div class="choixPayement">
      <ion-card class="maCarte">
        <div class="sec2">
            <div style="display: flex; align-items: center;margin: 5%;"> <ion-icon name="cash" style="color:#04CF72; font-size: 30px; margin-right: 10px;"></ion-icon> Choisir un mode de payement</div>
        </div>

        <div class="sec3">
          <div><input type="radio" name="choix" id="livraison"> <ion-label for="livraison">  A la livraison</ion-label></div>
          <div><input type="radio" name="choix" id="om"> <ion-label for="om">  Orange Money</ion-label></div>
        </div>
        <div class="sousSec3" style="margin: 5%;">
          <div><input type="radio" name="choix" id="credit"> <ion-label for="credit">  Carte de crédit </ion-label></div>
        </div>

      </ion-card>
  </div>

  <div class="validerCommande">
    <ion-card class="maCarte">
     
      <div class="sec3">
        <div><ion-label ><strong>Total</strong></ion-label></div>
        <div><ion-label><Strong>100.000 Fcfa</Strong> </ion-label></div>
      </div>
      
      <div class="ion-text-center" style="margin: 2%;"><ion-button (click)="valider()">Passer la commande</ion-button></div>
      
      </ion-card>
</div>

</ion-content>
