.containeurLogo{
    text-align: center;
    margin-top: 20%;
}
.formLogin{

    text-align: center;
}
.formLogin .emailForm{
    margin: 2% auto;
    border: 1px solid #04CF72;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 95%;

}
.formLogin .passwordForm{
    margin: 2% auto;
    border: 1px solid #04CF72;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 95%;
}

.Connexion button{
    margin-top: 20px;
    background-color: #04CF72;
    text-align: center;
    padding: 10px ;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
    border-radius: 5px;
}

//  ==========================================BOUTONS Oauth2

.oauth2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.oauth2 ion-icon{
    font-size: 50px;
    cursor: pointer;
}
.creerCompte{
    margin-top: 30px;
}
.creerCompte a{
    text-decoration: none;
    font-size: 15px;
    color: #04CF72;
    font-weight: 800;
}










// .OauthGoogle ion-button{
//     width: 95%;
//     margin: 2% auto;
//     font-size: 15px;
//     text-transform: lowercase;
  
// }