<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="containeurLogo">
      <img src="../../../assets/img/logo1.png" alt="logo" srcset="" width="45%">
  </div>
<!-- <span *ngIf="Message" style="color: red; margin: 2%;">{{Message}}</span> -->
  <div class="formLogin">
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <!-- #form="ngForm" (ngSubmit)="connexion(form)" -->
          <div class="emailForm">
              <ion-input type="text" placeholder="Adresse email" ngModel autofocus   name="usernameOrEmail"
              [(ngModel)]="form.usernameOrEmail"
               required
                #usernameOrEmail="ngModel"></ion-input>
          </div>
          <br>
          <div class="passwordForm">
              <ion-input type="password" placeholder="Mot de passe" maxlength="15" minlength="6" ngModel name="password" [(ngModel)]="form.password" required minlength="6"  #password="ngModel"></ion-input>
          </div>

          <div class="Connexion">
              <button>Connexion</button>
          </div>

          <div class="alert alert-danger errorMessages" *ngIf="f.submitted && isLoginFailed">
            Connexion impossible : {{ errorMessage }}
          </div>

      </form>
      <div><p><strong>OU</strong></p></div>

      <!-- ====================================================== LES BUTTONS OATH2 -->

             <div class="oauth2">

              <div class="google">
                    <ion-icon name="logo-google" style="color: red;"></ion-icon>
              </div>

              <div class="facebook">
                <ion-icon name="logo-facebook" style="color: blue;"></ion-icon>
              </div>
              <div class="email" style="color: rgb(69, 70, 71);">
                <ion-icon name="mail"></ion-icon>
              </div>

             </div>




             <div class="creerCompte">
                  <a href="">Créer un compte ?</a>
             </div>
      
    </div>

</ion-content>
