.bouttonEnyoyer button{
    background: #04CF72;
    padding: 5%;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}
.reinitialiser ion-item{
   // border: 1px solid;
    margin: 10px;
}