.bouttonEnyoyer button{
    background: #04CF72;
    padding: 5%;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}
.reinitialiser ion-item{
   // border: 1px solid;
    margin: 10px;
}
ion-toolbar{
    --background:#04CF72;
    text-align: center;
    color: white;
}
.title{
    margin: 10%;
    font-weight: 700;
    font-size: 25px;
}