<!-- MON MENU -->
<ion-header>
  <ion-toolbar>
    <div slot="start" class="retourB">
      <!-- <ion-back-button slot="start"></ion-back-button> -->
      <img slot="start" src="../../../assets/img/logo2.png" alt="" srcset="" width="20%">
        <!-- <ion-title>Accueil</ion-title> -->
    </div>

    <div slot="end" class="lefts">
      <ion-icon name="cart-outline" (click)="openModal()"></ion-icon>
      <ion-badge class="cart">5</ion-badge>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge class="notif"> 5 </ion-badge>
    </div>
  </ion-toolbar>
</ion-header>




<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="accueil">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forum">
    <ion-icon name="chatbubble-ellipses"></ion-icon>
    <ion-label>Forum</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="produits">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Marché</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="formation">
      <ion-icon name="book"></ion-icon>
      <ion-label>Cours</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>