<!-- MON MENU -->
<ion-header>
  <ion-toolbar>
    <div slot="start" class="retourB">
    
      <!-- <ion-back-button slot="start"></ion-back-button> -->
      <img slot="start" src="../../../assets/img/logo2.png" alt="" srcset="" width="20%">
        <!-- <ion-title>Accueil</ion-title> -->
    </div>

    <div slot="end" class="lefts">
      <ion-icon name="cart-outline" (click)="openModal()"></ion-icon>
      <ion-fab-button class="cart" color="danger">{{myVal}}</ion-fab-button>

      <!-- <ion-badge ></ion-badge> -->
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-fab-button class="notif" color="danger">5</ion-fab-button>
    </div>

    <div class="profil">
      <!-- ===================================================SI UTILISATEUR EST CONNECTE============================== -->
      <ion-avatar style="cursor: pointer;" (click)="presentPopover($event)" *ngIf="user.avatar">
        <img src="{{user.avatar}}" alt="" srcset="">
      </ion-avatar>
      <!-- ===================================================SI UTILISATEUR N'EST PAS CONNECTE============================== -->

      <ion-avatar style="cursor: pointer;"  *ngIf="!user.avatar">
        <img src="../../../assets/img/avatar.jpg" (click)="redirection()" alt="" srcset="">
      </ion-avatar>
    </div>
   
  </ion-toolbar>
</ion-header>



<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="accueil">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forum">
    <ion-icon name="chatbubble-ellipses"></ion-icon>
    <ion-label>Forum</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="produits">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Marché</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="formation">
      <ion-icon name="book"></ion-icon>
      <ion-label>Cours</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profil">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Ferme</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
