ion-tab-bar{
height: 12%;
}
ion-fab-button{
    height: 20px;
    width: 20px;
    padding: 1%;
    size: 5px;
}
// ion-tab-bar ion-icon{
//     font-size: 25px;
// }


ion-toolbar{
    --background:#04CF72;
}
ion-toolbar .Princ{
    display: flex;
    margin: 2%;
}


ion-title{
    color: white;
}
// ========================

// ========================================================= HEADER ICONES
.lefts{
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ion-avatar{
    // size: 10px;
    height: 40px;
    width: 40px;
    // margin-left: 90px
}
.lefts ion-icon{
    color: white;
    font-size: 30px;
    cursor: pointer !important;
    padding:0;
    // margin-right: 15px;
}

.lefts .cart{
    // position: absolute;
// POUR ECRAN DE TELEPHONE REEL
    // right: 34.5%;
    // top: 10%;

// POUR ECRAN DE LAB
    // right: 38.6%;
    // top: 9%;

    color: white; 
    height: 15px; 
    width: 15px;
    font-size: 8px;
    align-items: center;
}

.lefts .notif{
    // position: absolute;
// POUR ECRAN DE TELEPHONE REEL
    // right: 23%;
    // top: 10%;

// POUR ECRAN DE LAB
//     right: 25.7%;
//    top: 9%;

    border-radius: 100%;
    height: 15px; 
    width: 15px;
    font-size: 8px;
}
.lefts ion-badge{
     font-size: 10px;
    }
