ion-tab-bar{
height: 12%;
}

ion-tab-bar ion-icon{
    font-size: 25px;
}


ion-toolbar{
    --background:#04CF72;
      // padding: 5%;
}
ion-title{
    color: white;
}
// ========================

.retourB{
 display: flex;
}

// ========================================================= HEADER ICONES
.lefts ion-icon{
    color: white;
    font-size: 30px;
    cursor: pointer !important;
    padding:0;
    margin-right: 15px;
}
.lefts .cart{
    position: absolute;
    right: 67px;
    top: 2px;
    background-color: red; color: white; 
    height: 15px; 
    border-radius: 100%;
    // text-align: center;
}
.lefts .notif{
    position: absolute;
    right: 16px;
    background-color: red; color: white; 
    height: 15px; 
    border-radius: 100%;
}
.lefts ion-badge{
     font-size: 10px;
    }
