.principale{
  margin-top: 20%;
}
.first {
  height: 150px;
  width: 100%;
}.titres{
  padding: 2%;
  position: fixed;
  top: 100px;
  color: green;
  background-color: #F8F6FB;
}


.first img {
  //width: 100%;
  object-fit: contain;
 
}
.produits{
    display: grid;
    grid-template-columns: auto auto;
    background: #F8F6FB;
  }
ion-card{
    border: 1px solid #04CF72;
}
ion-card ion-avatar{
    text-align: center;
    margin: 5px auto;
}
ion-card-title{
    font-weight: 600;
    text-align: center;
    font-size: 12px;
    margin: 5%;
    cursor: pointer;
}

.boutonpanier{
    margin: 3px auto;
    padding: 5%;
}
 .boutonpanier ion-button{
    color: white;
    border-radius: 15px;
    width: 95%;
}

// =============================================================== MODAL
ion-modal {
    --height: 50%;
    width: 90%;
    --border-radius: 5px;
    margin: 5px auto;
    --box-shadow: 1px 1px 6px #04CF72;
  }
  ion-modal p{
    font-size: 15px;
  }
  ion-modal h5{
    padding: 2%;
    text-align: center;
  }

  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
    
  ion-modal ion-toolbar {
    --background: #04CF72;
    --color: white;
  }
.cont{
    background: white;
    border: 2px solid #04CF72;
  }

  .modalProduits{
    padding: 10px;
  }
.sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  .sp{
    color: red;
  }
