<ion-header>
  <ion-toolbar>
    <ion-title>formation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="produits">
    <ion-card *ngFor="let formation of lesFormation.slice().reverse()">
      <ion-avatar class="ion-text-center" style="cursor: pointer;">
        <img src="{{formation.photoformation}}" alt="">
      </ion-avatar>
      <ion-card-title>{{formation.titreformation.slice(0,45)}}</ion-card-title>
      
      <div class="boutonpanier">
         <ion-button (click)="visiter(formation.urlformation)">Commencer</ion-button>
      </div>
    </ion-card>
  </div>

</ion-content>
