<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="forum"></ion-back-button>

    <div slot="start">
        <ion-title>
          forum
        </ion-title>
    </div>

    <div slot="end" class="lefts">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-badge class="cart">5</ion-badge>
      <ion-icon name="notifications"></ion-icon>
      <ion-badge class="notif"> 50 </ion-badge>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- / ================================== SECTION POUR QUESTION TITRE FIXE-->
  <div class="section1">
    <ion-fab vertical="top" horizontal="end" slot="fixed" id="ajoutercommentaire" expand="block">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
 <div class="title-text">
  <p>{{titre}}</p>

 </div> 
</div>

  <!-- ================================================ SECTION FORUM QUESTIONS OR THEMES -->
  <div class="sectionTheme">
    <div class="contenu" *ngFor="let commentaire of lesCommentaires.slice().reverse()">
        <div class="imgEtTheme">
            <div class="images">
            <ion-avatar>
              <img src="{{commentaire.user.avatar}}" alt="" srcset="">
            </ion-avatar>
              <p>{{commentaire.user.nom}} {{commentaire.user.prenom}}</p>
            </div>
            <div class="titre">
               <span>{{commentaire.datecom | date: 'dd/MM/yy, à HH:mm'}}</span>
                <p>{{commentaire.descriptioncom}}</p>
               
            </div>
        </div>
  
        <div class="commentaireEtVoirplus">
          <div class="commentaires">
            <ion-icon name="thumbs-up"></ion-icon>
          </div>
          <div class="voirplus">
            <ion-icon name="create-outline"></ion-icon>

          </div>
      </div>
        
    </div>
    </div>


    <!-- ======================================================== -->

<ion-modal id="example-modal" #modal trigger="ajoutercommentaire">
  <ng-template>
    <div class="forms">
      <h2>Ajouter votre commentaire </h2>
      <form>
        <ion-item counter="true">
          <ion-label position="floating">Réponse</ion-label>
          <ion-input maxlength="500" minlength="10"></ion-input>
        </ion-item>
        <div align="center"><button>Commenter</button></div>
      </form>
    </div>
      
  </ng-template>
</ion-modal>
</ion-content>
